@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

window {
    background-color: #ffffff
}

#modifyheaders-options-dialog {
    height: 26em;
    width: 45em
}

#modifyheaders-page-list {
    width: 7em
}
