@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*body {
  font-family: arial
}

.helpBox {
  background-color: white
}*/

.errorText {
  color: red;
  font-weight: bold
}

.msgText {
  color: green;
  font-weight: bold
}

treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked) {
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

prefwindow {
  -moz-binding: url("chrome://modifyheaders/content/bindings/bindings.xml#prefwindow");
}

/*.paneSelector {
  list-style-image: url("chrome://browser/skin/preferences/Options.png");
}

radio[pane=paneAbout] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
} */

radio[pane=paneHeaders] {
  list-style-image:url("chrome://modifyheaders/content/icons/user.png");
}
radio[pane=paneOptions] {
  list-style-image:url("chrome://modifyheaders/content/icons/tools.png");
}
radio[pane=paneAbout] {
  list-style-image:url("chrome://modifyheaders/content/icons/info.png");
},
