@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

window {
    background-color: #ffffff
}

#selectHeaderList {
    overflow: auto;
    -moz-box-orient: vertical
}

.errorText {
    color:red;
    font-weight:bold
}

.msgText {
    color:green;
    font-weight:bold
}